---
---

@import "{{ site.theme }}";

.progress-container {
  width: 80%; 
  height: 20px; 
  background-color: #ddd; 
}

.progress-bar {
  width: 50%;
  height: 20px;
  background-image: linear-gradient(to right, red , yellow);
}
