---
---

@import "{{ site.theme }}";

/* 定义进度条的容器 /
.progress-container {
  width: 80%; / 容器的长度 /
  height: 20px; / 容器的高度 /
  background-color: #ddd; / 容器的背景色 /
}

/ 定义进度条本身 /
.progress-bar {
  width: 50%; / 进度条的长度，表示进度百分比 /
  height: 20px; / 进度条的高度，与容器相同 /
  background-image: linear-gradient(to right, red , yellow); / 进度条的渐变色 /
}
